<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.5.1/ol.css">
    <link rel="stylesheet" href="hero.css">
</head>

<body>
    
    {{ WIKI_CONTENT }}

    <script src="https://cdn.jsdelivr.net/npm/ol@v7.5.1/dist/ol.js"></script>
    <script src="hero_map.js"></script>
</body>


</html>